.ActionDots {
  position: absolute;
  right: 0px;
  padding: 8px;
  /* -webkit-box-shadow: inset 0px 0px 5px var(--slate_grey);
  -moz-box-shadow: inset 0px 0px 5px var(--slate_grey);
  box-shadow: inset 0px 0px 5px var(--slate_grey); */
  outline: none;
  border-radius: 4px;
}

.ActionDots:hover {
  color: var(--primaryColor);
  background-color: var(--slate_grey);
}

.popover {
  z-index: 500;
  background-color: var(--slate_grey);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
}

.popover-content {
  padding: 4.5px 14px;
}

.PopRow {
  display: inline-flex;
}

.PopRow:not(:last-child) button {
  margin-right: 6px;
}
