.ActionDots {
  padding: 8px;
  -webkit-box-shadow: inset 0px 0px 5px var(--dark_border);
  -moz-box-shadow: inset 0px 0px 5px var(--dark_border);
  box-shadow: inset 0px 0px 5px var(--dark_border);
  outline: none;
  background-color: var(--dark_border);
  border-radius: 6px;
}

.ActionDots:hover {
  color: var(--primaryColor);
}

.popover {
  z-index: 500;
  background-color: var(--slate_grey);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
}

.popover-content {
  padding: 4.5px 14px;
}

.PopRow {
  display: inline-flex;
}

.PopRow:not(:last-child) button {
  margin-right: 6px;
}
