.PublicProfile {
  padding: 20px;
  border-radius: 6px;
  background-color: var(--slate_grey);
  opacity: var(--mainOpacity);
}

.firstLastName {
  display: block;
  margin-left: 4px;
  font-size: 12px;
}

.firstLastName {
  font-weight: bold;
  font-size: 14px;
  color: var(--grey);
}

.userRoles span {
  margin: 2px;
  color: var(--light_grey);
}

.userRoles span::before {
  content: "| ";
}

.userRoles span:last-child::after {
  content: " |";
}

.userBio {
  border: 1px solid var(--light_grey);
  background-color: var(--grey);
  word-break: break-all;
  vertical-align: middle;
  overflow-y: auto;
}

.userBio i {
  font-size: 36px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.userBio::-webkit-scrollbar {
  display: block;
}

.CharacterCards {
  border: 1px solid var(--light_grey);
  border-radius: 6px;
  padding: 4px 0;
}

.CharacterCards img {
  height: 100%;
  object-fit: cover;
}

.CharacterCards span {
  font-size: 24px;
}

.CharacterCards [class*="col-"] {
  height: 46px;
}

.userConnections {
  padding: 8px;
  text-align: center;
}

.userConnections a {
  color: inherit;
}

.userConnections a:hover {
  color: var(--primaryColor);
}
