.TeamContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    height: 100%;    
}

.TeamContainer h1 {
    text-align: center;
}

@media (max-width: 676px) {
    .TeamContainer small {
       text-align: center;
       display: inherit;
       color: white;
    }
}

@media (min-width: 676px) {
.TeamContainer small {
    color: white;
    display: flex;
    }
}

.TeamContainer p {
    font-size: 2rem;
}

.TeamContainer h1 {
    margin: 0;
}