.Event {
}

.slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.slider-tooltip-hidden {
  display: none;
}
.slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: var(--tertiarycolor);
  text-align: center;
  text-decoration: none;
  background-color: var(--grey);
  border-radius: 50%;
  box-shadow: 0 0 4px var(--slate_grey);
}
.slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.slider-tooltip-placement-top .slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: var(--grey);
}
