.DonateContainer {
    color: white;
}

.textContainer {
    padding: 20px;
}

.DonateContainer h1 {
    margin-left: 4px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
}

.DonateContainer a {
    color: white;
}

.donationText {
    font-size: 18px;
}

.donateButton {
    background-color: var(--primaryColor);
    border: 0;
}

.donateButton:hover {
    background-color: white;
}