.List {
  overflow-y: auto;
  max-height: 720px;
}

.listItem {
  background-color: var(--grey);
  border: 1px solid var(--dark_border);
  padding: 8px;
  opacity: var(--mainOpacity);
}

.listItem:hover {
  background-color: var(--slate_grey) !important;
}

.List .list-group-item:first-child,
.List .list-group-item:last-child {
  border-radius: 0 !important;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading,
.list-group-item-text {
  color: var(--tertiarycolor);
}

.EventColorLabelContainer {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  display: inline-block;
  margin-right: 6px;
  border-radius: 100%;
  background-color: var(--primaryColor);
}
