.EventDetails {
  font-size: 24px;
}

.EventDetails a {
  color: var(--primaryColor);
}

.EventDetails a:hover {
  opacity: 0.7;
}

.Group {
  padding: 0;
  border: 1px solid var(--grey);
  border-radius: 6px;
}

.GroupHeader {
  font-size: 28px;
}

.MembersContainer {
  height: 100px;
  margin: 8px;
  padding: 8px;
  border: 1px solid var(--grey);
}

.Member {
}

.RSVP {
}

.Preferences {
  display: inline-block;
  margin: 3px;
}

.Match {
  font-weight: 600;
  background-color: var(--primaryColor);
  color: var(--tertiarycolor);
  padding: 3px;
  border-radius: 6px;
}

.Match:hover {
  background-color: var(--tertiarycolor);
  color: var(--secondaryColor);
}

.CharacterSignedUpWith {
  padding-left: 8px;
}

.editResponseContainer {
  display: inline-block;
}

.MatchedCharactersContainer {
  margin: 4px;
  padding: 4px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  background-color: var(--slate_grey);
}

.MatchedCharactersContainer div {
  display: inline-flex;
  padding: 4px;
  margin: 8px;
  width: calc((100% - 70px) / 4);
}

.eventModal {
  margin-top: 0;
  position: absolute;
  top: calc(50% - var(--navBarHeight));
  left: 0;
  right: 0;
}

.eventModal .modal-content {
  background-color: var(--secondaryColor);
}
