.Contests {
}

.Contests h1 {
    text-align: center;
    margin-left: 4px;
}

.Contests h1, h4 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900; 
}

.currentTab img {
    padding: 20px;
}