.TicketDetails {
}

.detailRow [class*="col-"]:nth-child(-n+10) {
  border: 1px solid var(--grey);
  border-radius: 4px;
  margin: 4px;
}

.TicketDetails a {
  color: var(--primaryColor);
}

.TicketDetails a:hover {
  opacity: 0.75;
}

.OthersInvolved {
  display: inline-block;
  margin-left: 8px;
}

.OthersInvolved::after {
  content: ",";
}

.TicketDescription {
  border: 1px solid var(--light_grey);
  background-color: var(--slate_grey);
  word-break: break-all;
  vertical-align: middle;
  overflow-y: auto;
  min-height: 250px;
}

.ImageProof {
  max-height: 500px;
  max-width: 100%;
}

.StatusChangeContainer {
  height: calc(var(--inputButtonHeight) * 5);
  overflow-y: auto;
}

.StatusChangeNoteCard {
  height: calc(var(--inputButtonHeight) * 2);
  border-radius: 4px;
  background-color: var(--grey);
  margin: 2px 0;
}

.StatusChangeNoteCard [class*="col-"] {
  padding: 8px;
}

.noteText {
  overflow-y: auto;
}
