.TicketDetails {
}

.TicketDetails a {
  color: var(--primaryColor);
}

.TicketDetails a:hover {
  opacity: 0.75;
}

.OthersInvolved {
  display: inline-block;
  margin-left: 8px;
}

.OthersInvolved::after {
  content: ",";
}

.TicketDescription {
  border: 1px solid var(--light_grey);
  background-color: var(--slate_grey);
  word-break: break-all;
  vertical-align: middle;
  overflow-y: auto;
  min-height: 250px;
}

.ImageProof {
  max-height: 500px;
  max-width: 100%;
}

.StatusChangeNoteCard {
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  background-color: var(--grey);
  display: inline-flex;
}

.StatusChangeNoteCard div {
  margin: auto;
  width: calc(100% / 3);
}
