/* @media(min-width:1200px){
    .ViewHtmlDocument h1,
    .ViewHtmlDocument h2,
    .ViewHtmlDocument h3,
    .ViewHtmlDocument h4,
    .ViewHtmlDocument h5,
    .ViewHtmlDocument h6,
    .ViewHtmlDocument blockquote,
    .ViewHtmlDocument code,
    .ViewHtmlDocument p,
    .ViewHtmlDocument a
{
    margin: 20px;
}
} */

.HtmlParser {
  /* padding: 0; */
}

.HtmlParser img {
  max-width: 100%;
}

.HtmlParser a {
  color: var(--primaryColor);
}
.HtmlParser a:hover {
  color: var(--color_sunflower);
}
.ViewHtmlDocument {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: calc(100vh - var(--navBarHeight));
}

.commentContainer {
  display: block;
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: 4px;
  padding: 8px;
  margin: 16px 0;
}

.commentBar {
  display: table;
  width: 100%;
  background-color: var(--grey);
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--grey);
}

.commentTextArea {
  margin: 8px 0;
  min-height: 84px;
}

.commentPostButton {
  margin: 8px;
}
