.CardContainer {
  margin-top: 8px;
  height: var(--cardHeight);
}

.Card {
  height: 100%;
  width: 100%;
  background-color: var(--secondaryColor);
  opacity: var(--mainOpacity);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--gray);
  border-radius: 4px;
  transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
}

.Card .ActionDots {
  display: none;
}

.Card:hover .ActionDots {
  display: block;
}

.Card .HtmlParser {
  padding: 0;
  margin: 0;
  width: 100%;
}

.Summary {
  height: var(--cardSummaryHeight);
  position: absolute;
  background-color: var(--slate_grey);
  flex: 0 0 100px;
  width: 100%;
  padding: 6px;
  left: 0;
  bottom: 0;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.Summary .summaryTitle {
  display: flex;
}

.Summary .summaryTitle h4 {
  width: 100%;
  margin: 4px 0 4px 0;
}

.Summary .summaryTitle i {
  margin: auto;
}

.Summary .summaryTitleDivider {
  margin: 0 0 4px 0;
  width: 100%;
}

.cardActions {
}

.cardActions button {
  background-color: var(--primaryColor);
  color: var(--tertiarycolor);
  font-size: 100%;
  margin-left: 4px;
}

.cardActions button:hover {
  background-color: var(--tertiarycolor);
  color: var(--secondaryColor);
}

.cardInfo div {
  /* margin-top: 4px; */
}

.cardInfo * {
  max-height: 30px;
}

.cardInfo i {
  width: 20px;
}

.cardInfo a {
  color: var(--primaryColor);
}

.cardInfo a:hover {
  opacity: 0.7;
}

.cardActions .caret {
  display: none;
}

.blockLineBreak {
  white-space: pre-line;
}

.blockNoWrap {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inlineNoWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkHover {
  color: var(--primaryColor);
}

.cardStats {
  display: flex;
  margin: 4px 0;
  justify-content: space-between;
}
