.Card {
    width: 100%;
    min-height: 268px;
    background-color: var(--grey);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    margin-bottom: 30px;
    border: 1px solid grey;
}

.Preview {
    padding: 16px;
    min-height: 100%;
    overflow: hidden;
    opacity: 0.7;
    -webkit-mask-image: linear-gradient(to bottom, #000, #000 calc(100% - 105px), transparent calc(100% - 5px), transparent);
    mask-image: linear-gradient(to bottom, #000, #000 calc(100% - 105px), transparent calc(100% - 5px), transparent);
    pointer-events: none;
    flex: 1 1 auto;
}

.Summary {
    position: absolute;
    background-color: var(--dark_grey);
    flex: 0 0 100px;
    width: 100%;
    padding: 8px;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}