.GuildCalendar {
    
}

.todayButton {
    float: right;
    margin: 8px  8px 0 0;
}

.react-calendar__navigation {
    button {
        border: 0;
        height: 2em;
        background-color: transparent;
        opacity: $mainOpacity;
        &:hover {
            /* background-color: $slate_grey; */
        }
    }
}

.react-calendar__navigation__arrow {
    &:hover {
        color: $primaryColor;
    }
}

.react-calendar__navigation__arrow, .react-calendar__navigation__label {
    font-size: 2em;
    font-weight: bold;
}


.TileContent {
    overflow-y: auto;
    position: relative;
    line-height: 86px;
    max-height: 86px;
    font-size: 13px;
    min-width: 0;
    align-items: center;
    text-align: left;
}

.hasEventsContainer {
    overflow: hidden;
    height: 24px;
    font-size: 13px;
    min-width: 0;
    display: flex;
    align-items: center;
    text-align: left;
    &:hover {
        background-color: $slate_grey;
    }
}

.eventLabelColor {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    display: inline-block;
    margin-right: 6px;
    border-radius: 100%;
    background-color: $primaryColor;
}

.eventStartTime {
    margin-right: 4px;
}

.eventTitle {
    flex: 1 0 0;
    user-select: none;
    font-family: 'proxima_novasemibold', Arial, sans-serif;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(to right, #000, #000 calc(100% - 16px), transparent calc(100% - 8px), transparent);
}

.react-calendar__tile--active, .react-calendar__month-view {
    .hasEventsContainer {
        time {
            position: inherit;
            border: 0;
            border-radius: 0;
            background-color: inherit;
            }
    }
}

.react-calendar__month-view__days__day--neighboringMonth {
    background-color: $dark_grey !important;
    color: $grey_out;
    opacity: $mainOpacity;
}

.react-calendar__month-view__weekdays {
    border-left: 1px solid $dark_border;
    border-right: 1px solid $dark_border;
    text-align: center;
    background-color: $grey;
    opacity: $mainOpacity;
}

.react-calendar__month-view {
    button {
        flex: 1 0 0;
        position: relative;
        opacity: $mainOpacity;
        min-height: 160px;
        background-color: $slate_grey;
        border: 1px solid $dark_border;
        &:hover {
            background-color: $grey;
        }
        ::-webkit-scrollbar {
            width: 4px;
        }
    }
    time {
        position: absolute;
        left: 8px;
        top: 8px;
        font-size: 1em;
    }
}

@mixin tile {
    line-height: 25px;
    width: 25px;
    font-weight: 600;
    border-radius: 100%;
}

.react-calendar__tile--now {
    time {
        @include tile;
        background-color: $primaryColor;
        color: $slate_grey;
    }
}

.react-calendar__tile--active {
    time {
        @include tile;
        background-color: rgba(0, 0, 0, .55);
        color: white;
        -webkit-transition:  background-color 1s ease-out;
        -moz-transition:  background-color 1s ease-out;
        -o-transition:  background-color 1s ease-out;
        transition:  background-color 1s ease-out;
        text-align: center;
        transform: scale(1.1);
        will-change: transform;
        transition: -webkit-transform .425s cubic-bezier(0.485, 1.65, 0.545, 1.235);
    }
}

.EventList {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    & ::-webkit-scrollbar {
        width: 1px;
    }
    h2 {
        opacity: $mainOpacity;
        background-color: $grey;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid $dark_border;
        text-align: center;
        margin: 0;
        padding: 0;
    }
}
