.GuildCalendar {
   
    
}

.TileContent {
    
}

.hasEvents  {
    width: 8px;
    height: 8px;
    margin: auto;
    border-radius: 100%;
    background-color: var(--primaryColor);
}

.DatePicker {
    padding: 0;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    opacity: var(--mainOpacity);
    border: 1px solid var(--dark_border);
    background-color: var(--dark_grey);
}

.react-calendar__year-view .react-calendar__tile:hover,
.react-calendar__decade-view .react-calendar__tile:hover,
.react-calendar__century-view .react-calendar__tile:hover {
    background-color: var(--slate_grey);
}

.react-calendar__month-view__days__day--neighboringMonth {
    background-color: var(--dark_grey) !important;
    color: var(--grey_out);
    opacity: var(--mainOpacity);
}

.react-calendar__navigation button {
    height: 40px;
    background-color: var(--grey);
    border: 0;
    opacity: var(--mainOpacity);
}

.react-calendar__month-view__weekdays {
    text-align: center;
    background-color: var(--grey);
    opacity: var(--mainOpacity);
}

.react-calendar__month-view  button {
    opacity: var(--mainOpacity);
    height: 120px;
    background-color: var(--slate_grey);
    border: 1px solid var(--dark_border);
}

.react-calendar__month-view  button:hover {
    background-color: var(--grey);
}

.react-calendar__month-view  time{
    float: left;
    margin-top: -45px;
    margin-left: 8px;
}

/* .react-calendar__tile--now {
    background-color: var(--primaryColor);
} */

.react-calendar__tile--active time{
    line-height: 25px;
    width: 25px;
    text-align: center;
    background: var(--primaryColor);
    border-radius: 100%;
    /* background-color: var(--primaryColor) !important; */
}

.EventList {
    margin: 0;
    padding: 0;
    overflow-y: auto;

    
    top: 0;
    bottom: 0;
    height: 100%;
}

.EventList ::-webkit-scrollbar {
    width: 1px;
}

.EventList h2 {
    opacity: var(--mainOpacity);
    height: 60px;
    line-height: 60px;
    background-color: var(--dark_grey);
    border-bottom: 1px solid var(--dark_border);
    text-align: center;
    margin: 0;
    padding: 0;
}