.About {
  margin-top: 20px;
}
.votDifferenceText h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Goblin Hand";
  color: var(--primaryColor);
}
.votDifferenceContainer {
  list-style-type: none;
  margin: 110px auto;
  padding: 0 8px;
  width: 751px;
  position: relative;
  text-align: center;
  background: url("../../../images/lore_mid.png") center repeat-y;
  /* background: url('../../images/lore_top.png') top no-repeat, url('../../images/lore_bottom.png') bottom no-repeat; */
  /* background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,.4), rgba(0,0,0,.5), black, rgba(0,0,0,.5), rgba(0,0,0,.4), rgba(0,0,0,0), rgba(0,0,0,0)); */
}
.votDifferenceContainer::before {
  content: "";
  width: inherit;
  position: absolute;
  left: 0px;
  bottom: -110px;
  height: 110px;
  background: url("../../../images/lore_bottom.png") no-repeat;
}
.votDifferenceContainer::after {
  content: "";
  width: inherit;
  position: absolute;
  left: 0px;
  top: -110px;
  height: 110px;
  background: url("../../../images/lore_top.png") no-repeat;
}
.votDifferenceContainer .votDifferenceText {
  font-size: 24px;
  padding: 16px;
  margin: -55px 0 -55px 0;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.votDifferenceContainer .votDifferenceText .SocialMediaLinks {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 15% 0 15%;
  margin-top: 8px;
  bottom: 0;
}
.votDifferenceContainer .votDifferenceText .SocialMediaLinks a {
  font-size: 32px;
  color: var(--tertiaryColor);
}
.votDifferenceContainer .votDifferenceText .SocialMediaLinks a:hover {
  color: var(--primaryColor);
}
.votDifferenceContainer .votDifferenceText .SocialMediaLinks li,
.About .votDifferenceContainer .votDifferenceText .SocialMediaLinks a {
  margin: 0 auto;
}
.votDifferenceContainer .votDifferenceText .SocialMediaLinks li:hover,
.About .votDifferenceContainer .votDifferenceText .SocialMediaLinks a:hover {
  color: var(--primaryColor);
}
