.Articles {
    
}

.CardContainer {
    margin: 16px;
}

.CardContainer:hover {
    transform: scale(1.075);
    will-change: transform;
    background-repeat: no-repeat;
    transition: -webkit-transform .425s cubic-bezier(0.485, 1.65, 0.545, 1.235);
}

@media (max-width: 991px) {
    .CardContainer {
        padding: 0;
        margin: 0 4px 0 4px;
    }

    .CardContainer:hover {
        transform: scale(1.0175);
    }
}