.ArticlesContainer {
    margin: auto;
    color: white;
}

.ArticlesContainer h1:before {
    content: '';
    width: 93px;
    height: 6px;
    position: absolute;
    left: calc(50% - 184px);
    margin-top: -5px;
    top: 8%;
    background: url('../../images/left_arrow.png') no-repeat;
}

.ArticlesContainer h1 {
    text-align: center;
    margin-left: 4px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
}

.ArticlesContainer h1:after {
    content: '';
    width: 93px;
    height: 6px;
    position: absolute;
    right: calc(50% - 190px);
    margin-top: -5px;
    top: 8%;
    background: url('../../images/right_arrow.png') no-repeat;
}