.CharacterCard {
  border: 1px solid var(--light_grey);
  border-radius: 6px;
  padding: 4px 0;
}

.CharacterCard .CharacterName {
  font-size: 36px;
}

.CharacterCard .CharacterClassImage {
  height: 51px;
}

.CharacterCard img {
  height: 100%;
  object-fit: cover;
}

.CharacterCard b,
.CharacterCard span,
.CharacterCard em {
  font-size: 22px;
}
