.TeamContainer {
    margin: auto;
    color: white;    
}

.Card {
    padding: 40px;
}

.TeamContainer h1 {
    text-align: center;
}

.TeamContainer small {
    color: white;
    display: flex;
}

.TeamContainer p {
    font-size: 2rem;
}

.TeamContainer h1 {
    margin: 0;
}