.NavBarContainer {
    font-family: 'Goblin Hand';
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  .NavBarContainer:hover {
    transition: background-color 1s ease-in-out;
  }

.NavBarContainer a {
    color: white !important;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.NavBarContainer a:hover {
    color: var(--primaryColor) !important;
}

/* ADJUST BREAKPOINT NAVBAR*/
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-nav {
      float: none !important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .dropdown-menu {
    width: auto !important;
    position: inherit !important;
    left: 0 !important;
    float: none !important;
  }
}

@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu {
    background-color: var(--dark_grey);
    }
}

/* STYLE NAVBAR */
.navbar {
    margin: 0;
    border-bottom: 1px solid var(--primaryColor);
    border-radius: 0%;
    flex-grow: 1;
  }

.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}
  
  .navbar-inverse {
    background-color: var(--primaryBackGroundOpacity);
  }
  
  .navbar-inverse .navbar-brand {
    padding: 0;
  }

  .navbar-brand>img {
    padding: 4px;
    background-repeat: no-repeat;
  }
  
  .navbar-inverse:hover {
    background-color: rgba(0, 0, 0, 1);
    -webkit-transition:  background-color 1s ease-out;
    -moz-transition:  background-color 1s ease-out;
    -o-transition:  background-color 1s ease-out;
    transition:  background-color 1s ease-out;
  }
  
  .navbar-inverse .navbar-nav>li>a,
  .dropdown-menu>li>a {
    color: var(--primaryColor);
  }

  .dropdown-menu>li>a:hover {
    color: white !important;
    background-color: black;
  }

  .navbar-inverse .navbar-nav>li>a, .dropdown-menu>li>a {
    color: white;
  }
  
  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.75);
  }