.NavBar {
    font-family: 'Goblin Hand';
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 1);
  }

  /* .NavBar:hover {
    background-color: rgba(0, 0, 0, 1);
    -webkit-transition:  background-color 1s ease-out;
    -moz-transition:  background-color 1s ease-out;
    -o-transition:  background-color 1s ease-out;
    transition:  background-color 1s ease-out;
  } */

.NavBar a {
    text-align: center;
}

.NavBar a:hover {
    color: var(--primaryColor);
}

/* Bootstrap Navbar */
.navbar {
    margin: 0;
    border-bottom: 1px solid var(--primaryColor);
    border-radius: 0%;
    flex-grow: 1;
  }

.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor);
}
  
  .navbar-inverse .navbar-brand {
    padding: 0;
  }

  .navbar-brand>img {
    background-repeat: no-repeat;
  }

  .navbar-inverse .navbar-nav>li>a:hover, .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: var(--primaryColor);
    background-color: inherit;
  }

  .navbar-inverse .navbar-nav>li>a, .dropdown-menu>li>a,   .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: white;
  }
