.Profile {
  min-height: 275vh;
}
.Profile svg:hover {
  color: var(--primaryColor);
}
.CharacterContainer [class*="col-"] {
  margin: 0;
  padding: 0 2px;
}

.AddCharacter {
  min-height: 49px;
}

.MainAlt .checkbox {
  margin: 0;
  padding: 10px;
  border: 1px solid var(--light_grey);
  border-radius: 4px;
  background-color: var(--slate_grey);
}

.MainAlt .checkbox input[type=checkbox] {
    margin-left: -16px;
}
/* .css-10nd86i *{
    color: white;
    background: var(--grey);
}
.css-2o5izw, .css-2o5izw:hover, .css-2o5izw:focus {
    border-color: red;
}
.css-10nd86i:focus {
    border-color: red;
}
.css-vj8t7z *{
    background: var(--grey);
}
.css-1hwfws3{
    background: var(--grey);
}
.react-select__indicators{
    background: var(--grey);
}
.react-select__menu{
    background: var(--grey);
}
.react-select__menu-list{
    background: var(--grey);
}
.css-xp4uvy {
    color: white;
} */
