/* 	The Bootstrap grid system has four classes:
 xs (for phones - screens less than 768px wide)
 sm (for tablets - screens equal to or greater than 768px wide)
 md (for small laptops - screens equal to or greater than 992px wide)
 lg (for laptops and desktops - screens equal to or greater than 1200px wide)
 max-width: 767px = “If [device width] is less than or equal to 767px, then do {…}”
 min-width: 767px = “If [device width] is greater than or equal to 767px, then do {…}”
 */
@media (max-width: 992px) {
  .VideoPlayer .videoPlayerContainer {
    height: 50vh;
  }
}
@media (max-width: 992px) and (orientation: landscape) {
  .VideoPlayer {
    width: 100vw;
  }
  .VideoPlayer .videoPlayerContainer {
    height: calc(100vh - var(--navBarHeight));
  }
}
