.FormSystem .row {
  margin-bottom: 16px;
}

.FormSystem .borderedRow {
  background-color: var(--slate_grey);
}

.noHover:hover {
  border: 1px solid var(--grey) !important;
}

.FormSystem .row:hover {
  border-color: var(--primaryColor);
  transition: border-color 0.4s;
}

.FormSystem .form-group span {
  margin-right: 8px;
}

.FormSystem .checkbox.disabled label,
.FormSystem input[type="checkbox"][disabled] {
  cursor: context-menu;
}

.responseStats {
  display: inline;
  background-color: var(--slate_grey);
}
