.Admin {
  min-width: 75%;
}

.ReactTable a {
   color: var(--primaryColor);
}
 
.ReactTable a:hover {
   color: var(--tertiarycolor);
} 

.ReactTable .rt-table::-webkit-scrollbar {
  display: block;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 2px 0 0 var(--primaryColor);
}
.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -2px 0 0 var(--primaryColor);
}

.rt-th:focus {
  outline: none;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td,
.ReactTable .rt-thead.-filters,
.ReactTable .rt-thead.-filters .rt-th,
.ReactTable .rt-tbody .rt-tr-group,
.ReactTable .rt-tbody .rt-td,
.ReactTable .rt-tr .rt-td {
  border-color: var(--grey);
}

.rt-table {
  overflow-x: hidden;
  opacity: .96;
  background: var(--slate_grey);
}

.ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select,
.ReactTable .-pagination input, .ReactTable .-pagination select {
  background: var(--grey);
}

.ReactTable .rt-tr-group .rt-td:first-child:hover {
  background: var(--grey);
}

/* Links fill table height and width */
.rt-td {
  vertical-align: middle;
  min-height: 36px;
  padding: 0;
}
.rt-td a {
  padding: 0;
  display: block;
  height: 100%;
  width:100%;
}

.ReactTable .pagination-bottom {
  background-color: var(--slate_grey);
}

.ReactTable .-pagination .-btn {
  background-color: var(--grey_out);
  color: var(--tertiarycolor);
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
  background-color: var(--primaryColor);
}
