.OtherProfile {
    padding: 20px;
    border-radius: 6px;
    background-color: var(--dark_grey);
    opacity: var(--mainOpacity);
}

.firstLastName {
    display: block;
    margin-left: 4px;
    font-size: 12px;
}

.userRoles span {
    margin: 4px;
}

.userBio {
    border: 2px solid var(--grey);
    background-color: var(--slate_grey);
    word-break: break-all;
    vertical-align: middle;
    overflow-y: auto;
}

.userBio::-webkit-scrollbar {
    display: block;
}