.GuildContainer {
    color: white;
}

.GuildContainer h1 {
    margin-left: 4px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
}

.Tabs a {
    color: white;
}

.Tabs .nav-tabs>li:hover>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    border-bottom-color: transparent;
}