.GuildContainer {
    height: 100%;
    width: 100%;
    background-color: var(--tertiaryBackGroundOpacity);
}

.Tabs {
    height: 100%;
    
}

.Tabs a {
    color: white;
}

.Tabs .nav-tabs>li:hover>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    background-color: var(--primaryColor);
    border: 0;
    border-bottom-color: transparent;
}