@media (max-width: 767px) {
  .footerImages {
    display: none;
  }

  .Female {
    display: none;
  }

  .Male {
    display: none;
  }
  .MainFooter {
    font-size: 0.75em;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
