.FooterContainer {
}

.footerImages {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.footerButton:hover {
    color: var(--primaryColor);
}

.Female {
    left: 0;
}

.Male {
    right: 0;
}

@media (max-width: 1200px) {
    .footerImages {
        display: none;
    }
}