.FooterContainer {
}

.footerImages {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.footerButton:hover {
    color: var(--primaryColor);
}

.Female {
    left: 0;
}

.Male {
    right: 0;
}
