.MediaContainer {
    color: white;
}

.MediaContainer h1 {
    margin-left: 4px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    margin-left: 4px;
}

.MediaContainer img {
    max-height: 380px;
    margin: auto;
}

.MediaContainer img:hover {
    transform: scale(1.1);
    will-change: transform;
    background-repeat: no-repeat;
    transition: -webkit-transform .425s cubic-bezier(0.485, 1.65, 0.545, 1.235);
}