.Media .nav-tabs {
    border-color: #eee;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    margin: 0;
  }
  .Media h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
  }  