.LoginContainer {
    color: white;
}

.LoginContainer h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
}

.LoginContainer input {
    background-color: rgba(0, 0, 0, 0.5);
}

.LoginForm {
    
}

.loginButton {
    background-color: var(--primaryColor);
    border: 0;
}

.loginButton:hover {
    background-color: white;
}