.HomeContainer {
    overflow-x: hidden;
    margin-top: 20px;
}

@media (max-width: 676px) { 
    .HomeContainer {
        margin: 0;
        padding: 0;
    }
}

.HomeContainer h2 {
    text-align: center;
    color: white;
}

.votDifferenceContainer {
    padding: 10px; 
    font-family: "Goblin Hand";
    color: white;
    background-color: black;
}