.HomeContainer {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 0;
}

.HomeContainer h2 {
    text-align: center;
    color: white;
}

.shadowContainer {
    background-color: var(--primaryColor);
    border-radius: 5px;
}