.HomeContainer {
    margin: auto;
    margin-top: 20px;
}

.HomeContainer iframe {
    padding: 0;
    margin: 0;
}

.HomeContainer h2 {
    text-align: center;
    color: white;
}

.votDifferenceContainer {
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-family: "Goblin Hand";
    color: white;
    background-color: var(--dark_grey);
    border: 2px solid var(--primaryColor);
}




.AboutContainer {
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    color: black;
    margin-bottom: 20px;
}

@keyframes about {
	0% {height: 122px; width: 0%;}
	100% {height: 122px; width: 248px;}
}

.AboutButton {
    padding-top: 52px;
    margin: 0 91px;
    display: inline-block;
    transition: none;
    line-height: 24px;
    -webkit-transition: none;
    width: 248px;
    height: 122px;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    background: url('../../images/about_btn.png') left top no-repeat;

    animation-name: about;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.AboutButton:hover {
    color: black;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
}

@media (max-width: 676px) { 
    .HomeContainer {
        margin: 0;
        padding: 0;
    }
    .votDifferenceContainer {
        border-top: 0;
        margin-bottom: 6px;
    }
}

@keyframes twitter {
	0% {height: 50px; width: 100%;}
	100% {height: 275px; width: 100%;}
}

.twitter {
    margin-bottom: 4px;
    animation-name: twitter;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes youTube {
	0% {height: 70px; width: 100%;}
	100% {height: 329px; width: 100%;}
}

.youTube {
    animation-name: youTube;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes discord {
	0% {height: 70px; width: 190px;}
	100% {height: 557px; width: 100%;}
}

.discord {
    animation-name: discord;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
