.App {
  margin-top: var(--navBarHeight);
  height: 100%;
  width: 100%;
}

.fadeThrough {
  height: 100vh;
 } 

/* When app is launched from home screen */
@media all and (display-mode: standalone) {
 .fadeThrough {
    height: calc(100vh - 52px);
  }
}

@media all and (display-mode: minimal-ui) {
}

/*Running on mobile browser*/
@media (max-width: 767px) {
  @media only all and (display-mode: browser) {
   .fadeThrough {
      height: calc(100vh - 52px);
    }
  }
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, var(--mainOpacity));
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(189,189,189,0.4);
  -webkit-border-radius: 100px;
  transition: 200ms linear;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px var(--grey;
  background: var(--grey; */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--dark_grey);
  border-radius: 10px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: var(--primaryColor);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--primaryColor);
  outline: 0 none;
}

input, select, textarea{
  color: white !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white !important;
}

.routeOverlay {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  z-index: 1;
  left: 0; right: 0;
  top: var(--navBarHeight); bottom: 0;
}
