@import url("https://fonts.googleapis.com/css?family=Roboto");
:root {
  --cursor: url("./images/Cursor.png"), auto;
  --navBarHeight: 52px;
  --footerHeight: 126px;
  --primaryColor: #ff9800;
  --secondaryColor: black;
  --tertiarycolor: white;
  --quaternaryColor: #00dae4;
  --quinaryColor: #2de5d2;
  --light_grey: rgb(204, 204, 204);
  --grey: #404048;
  --slate_grey: #36363d;
  --dark_grey: #2d2d32;
  --grey_out: rgba(163, 163, 172, 0.4);
  --dark_border: rgba(29, 29, 31, 0.3);
  --loadColor_1: radial-gradient(
    closest-side at 50% 50%,
    var(--primaryColor),
    var(--primaryColor),
    var(--primaryColor),
    var(--primaryColor),
    var(--primaryColor),
    var(--primaryColor),
    var(--primaryColor),
    rgba(0, 0, 0, 0)
  );
  --loadColor_2: radial-gradient(
    closest-side at 50% 50%,
    var(--secondaryColor),
    var(--secondaryColor),
    var(--secondaryColor),
    var(--secondaryColor),
    var(--secondaryColor),
    var(--secondaryColor),
    var(--secondaryColor),
    rgba(0, 0, 0, 0)
  );
  --loadColor_3: radial-gradient(
    closest-side at 50% 50%,
    var(--tertiaryColor),
    var(--tertiaryColor),
    var(--tertiaryColor),
    var(--tertiaryColor),
    var(--tertiaryColor),
    var(--tertiaryColor),
    var(--tertiaryColor),
    rgba(0, 0, 0, 0)
  );
  --loadColor_4: radial-gradient(
    closest-side at 50% 50%,
    var(--quaternaryColor),
    var(--quaternaryColor),
    var(--quaternaryColor),
    var(--quaternaryColor),
    var(--quaternaryColor),
    var(--quaternaryColor),
    var(--quaternaryColor),
    rgba(0, 0, 0, 0)
  );
  --loadColor_5: radial-gradient(
    closest-side at 50% 50%,
    var(--quinaryColor),
    var(--quinaryColor),
    var(--quinaryColor),
    var(--quinaryColor),
    var(--quinaryColor),
    var(--quinaryColor),
    var(--quinaryColor),
    rgba(0, 0, 0, 0)
  );
  --primaryTextColor: rgba(0, 0, 0, 0.87);
  --primaryBackGround: linear-gradient(
    to bottom,
    var(--primaryColor),
    var(--secondaryColor),
    var(--tertiaryColor),
    var(--quaternaryColor),
    var(--quinaryColor)
  );
  --primaryBackGroundOpacity: rgba(0, 0, 0, 0.2);
  --secondaryBackGroundOpacity: rgba(0, 0, 0, 0.2);
  --tertiaryBackGroundOpacity: rgba(0, 0, 0, 0.5);
  --quaternaryBackGroundOpacity: rgba(0, 0, 0, 0.9);
  --mainOpacity: 0.95;
  --main-padding: 20px;
  --primaryBoxShadow: 0 -8px 16px black;
  --inputHeight: 34px;
  --cardHeight: 300px;
  --cardSummaryHeight: 140px;

  /* Hamburger animation */
  --speed: 200ms;
  --easing: cubic-bezier(0.7, 0, 0, 0.7);

  /* Other Colors */
  --color_whiteSmoke: #f5f5f5;
  --color_turquoise: #1abc9c;
  --color_greenSea: #16a085;
  --color_emerald: #2ecc71;
  --color_nephritis: #27ae60;
  --color_peterRiver: #3498db;
  --color_belizehole: #2980b9;
  --color_amethyst: #9b59b6;
  --color_wisteria: #8e44ad;
  --color_wetasphalt: #34495e;
  --color_midnightBlue: #2c3e50;
  --color_sunflower: #f1c40f;
  --color_orange: #ffa500;
  --color_carrot: #e67e22;
  --color_pumpkin: #d35400;
  --color_alizarin: #e74c3c;
  --color_pomegranate: #c0392b;
  --color_clouds: #ecf0f1;
  --color_silver: #bdc3c7;
  --color_concrete: #95a5a6;
  --color_asbestos: #7f8c8d;
  --color_hot_toddy_approx: #a98e00;
  --color_mandalay_approx: #a77225;
  --color_supernova_approx: #ffcc07;
  --black: #000000;
  --black_30: rgba(0, 0, 0, 0.3);
  --color_nobel_approx: #b3b3b3;
  --color_quill_gray_approx: #d3d3d3;
  --color_mustard_approx: #ffdd5a;
  --color_millbrook_approx: #58492c;
  --color_nugget_approx: #c7962b;
  --color_bon_jour_approx: #e0e0e0;
  --color_pumice_approx: #cacaca;
  --color_nile_blue_approx: #203548;
  --color_yellow_sea_approx: #ffb000;
  --color_nile_blue_59_approx: rgba(32, 53, 72, 0.59);
  --color_rhino_approx: #2a4763;
  --color_black_haze_approx: #f7f7f7;
  --color_kumera_approx: #8c5f29;
  --color_birch_approx: #3a301d;
  --gold: #ffd700;
  --color_big_stone_approx: #192737;
  --color_alpine_approx: #ac973c;
  --color_san_juan_approx: #364e67;
  --color_big_stone_67_approx: rgba(29, 46, 64, 0.67);
  --color_malachite_approx: #35d835;
  --gray: #9e9e9e;
  --color_danube_approx: #5f99cf;
  --color_punga_54_approx: rgba(86, 57, 19, 0.54);
  --color_gorse_approx: #fffe48;
  --color_tropical_blue_approx: #c4dbf1;
  --color_nile_blue_43_approx: rgba(36, 54, 74, 0.43);
  --white_0: rgba(255, 255, 255, 0);
  --color_polo_blue_approx: #82a6c9;
  --color_iroko_approx: #3e321e;
  --color_matisse_approx: #21618a;
  --color_forest_green_approx: #218a30;
  --color_whiskey_approx: #cca26a;
  --color_chardonnay_approx: #ffcb85;
  --color_cutty_sark_approx: #587073;
  --powder_blue: #b0e0e6;
  --color_dove_gray_approx: #717470;
  --color_green_white_approx: #e3e9e0;
  --color_chicago_approx: #655f5a;
  --color_silver_rust_approx: #cbbeb5;
  --color_amazon_approx: #447055;
  --color_vista_blue_approx: #89e1aa;
  --color_blue_bayoux_approx: #4e647b;
  --color_cornflower_approx: #9cc9f6;
  --color_shadow_approx: #c0b283;
  --color_banana_mania_approx: #fae8b1;
  --color_saddle_brown_approx: #5f3900;
  --color_cola_approx: #3a2300;
  --color_mulberry_wood_approx: #5f0030;
}
@font-face {
  font-family: "Goblin Hand";
  font-style: normal;
  font-weight: 400;
  src: local("Goblin Hand"),
    url("./fonts/VTCGoblinHand.ttf") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/VTCGoblinHand.ttf") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/VTCGoblinHand.ttf") format("woff"),
    /* Modern Browsers */ url("./fonts/VTCGoblinHand.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/VTCGoblinHand.ttf") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Omnia";
  font-style: normal;
  font-weight: 400;
  src: local("Omnia"), url("./fonts/omnia.woff") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/omnia.woff") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/omnia.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/omnia.woff") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/omnia.woff") format("svg"); /* Legacy iOS */
}
a:-webkit-any-link,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.Clickable {
  cursor: url("./images/Cursor.png"), auto !important;
}
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  background-repeat: no-repeat;
  overflow: hidden;
  /* background-image: url('./images/about_bg.jpg'); */
  /* background: black; */
}
.Container {
  touch-action: pan-x;
  touch-action: pan-y;
  color: var(--tertiarycolor);
}
.btn-default,
.modal-content .btn-default {
  min-height: 38px;
  min-width: 38px;
  color: var(--tertiarycolor);
  background-color: var(--primaryColor);
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.btn-default:hover,
.modal-content .btn-default:hover {
  background-color: var(--tertiarycolor);
  color: black;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.Container input,
.Container select,
.Container textarea {
  background-color: var(--slate_grey);
}
.Hover:hover {
  border-color: var(--primaryColor);
  box-shadow: 4px 4px 4px rgba(245, 245, 245, 0.1);
  transition: border-color 0.4s;
}
.btn-toolbar {
  margin: auto;
}
.ActionToolbarRow {
  margin-top: 16px;
  margin-bottom: 16px;
}
.ActionToolbar {
  padding: 0;
}
.ActionToolbar .input-group-addon {
  background: var(--slate_grey);
  border: 0;
  margin: 0;
  padding: 0;
  width: 114px;
}
.ActionToolbar .input-group-addon select {
  background: var(--slate_grey);
  height: var(--inputHeight);
}
.Center {
  text-align: center;
}
.pageHeader {
  padding: 0;
  margin: 0;
  text-align: center;
  border: 0;
}
.pageHeader h1 {
  display: inline-block;
  position: relative;
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
}
.pageHeader h1:before {
  content: "";
  width: 93px;
  height: 6px;
  position: absolute;
  right: calc(100% + 8px);
  margin-top: -5px;
  top: 50%;
  background: url("./images/left_arrow.png") no-repeat;
}
.pageHeader h1::after {
  content: "";
  width: 93px;
  height: 6px;
  position: absolute;
  left: calc(100% + 8px);
  margin-top: -5px;
  top: 50%;
  background: url("./images/right_arrow.png") no-repeat;
}
a,
a:focus,
button:focus,
a:active,
a:visited {
  outline: none !important;
  text-decoration: none !important;
}
.Tabs {
  margin-top: 8px;
}
.Tabs .nav-tabs {
  border: none;
  /* border-top-left-radius: 4px;
  border-top-right-radius: 4px; */
  /* border-color: #eee;
    border-style: solid;
    border-width: 0 1px 1px 1px; */
}
.Tabs .nav-tabs > li > a {
  color: inherit;
}
.Tabs .nav-tabs > li:hover > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: var(--primaryColor);
  border-color: transparent;
  background-color: inherit;

  text-shadow: 0px 0px 2px var(--primaryColor);
  /* box-shadow: -1px 4px 21px 3px rgba(0, 0, 0, 0.8); */
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.fadeIn-2 {
  -webkit-animation: fadein 450ms; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 550ms; /* Firefox < 16 */
  -ms-animation: fadein 550ms; /* Internet Explorer */
  -o-animation: fadein 550ms; /* Opera < 12.1 */
  animation: fadein 550ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sheen::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}
.sheen {
  position: relative;
  overflow: hidden;
}
.sheen:hover::after,
.sheen:focus::after {
  animation: sheen 1.25s forwards;
}
@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
