.Videos {
    list-style-type: none;
}
.Videos a:hover {
  color: white;
}
.Videos h1 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
}
.Videos .youTubeContainer {
  padding: 0;
  margin: 20px 0 0 0;
  background-color: var(--grey);
  opacity: var(--mainOpacity);
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.Videos .youTubeContainer .videoTitleContainer {
  text-align: left;
}
.Videos .youTubeContainer .videoImageContainer img {
  max-height: 380px;
  width: 100%;
  border-radius: 4px;
  margin: 15px 0 15px 0;
}  