.Join {
    h1 {
        margin-left: 4px;
    }
    h1, h3 {
        position: flex;
        font-family: "Cinzel Decorative", serif;
        font-weight: 900;
    }
    a {
        color: $primaryColor;
    }
}