.JoinContainer {
    color: white;
}

.JoinContainer h1 {
    margin-left: 4px;
}

.JoinContainer h1, h3 {
    position: flex;
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
}

.JoinContainer a {
    color: var(--primaryColor);
}