.Messages {
}

.Messages .borderedRow {
  background-color: var(--slate_grey);
}

.messageBody {
  max-height: 400px;
  overflow-y: auto;
}

.messageBody::-webkit-scrollbar {
  display: block;
}

.Message {
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 8px;
}

.Message:hover {
  border-color: var(--primaryColor);
}

.MessageTitle {
  font-size: 16px;
}

.MessageBody {
  margin-top: 8px;
}
